# MongoDB Atlas Configuration
MONGODB_URI=""

# Local MongoDB Configuration
# MONGODB_URI="mongodb://localhost:27017/"

DATABASE_NAME=""

# Email config
SENDER_EMAIL=""
APP_PASSWORD=""

# Cloudinary Configuration
# CLOUDINARY_CLOUD_NAME=""
# CLOUDINARY_API_KEY=""
# CLOUDINARY_API_SECRET=""