# PostgreSQL Credentials
POSTGRES_URI="postgresql+asyncpg://<user>:<password>@<host>:<port>/<database>"

# MongoDB Credentials
MONGO_URI="mongodb+srv://<user>:<password>@<host>"
MONGO_DATABASE_NAME="<database>"

# Redis Credentials
REDIS_HOST="<host>"
REDIS_PORT="<port>"
REDIS_USERNAME="<user>"
REDIS_PASSWORD="<password>"

# OTP expiration (in seconds)
OTP_EXPIRY_SECONDS="300"

# SMTP Credentials
SMTP_HOST="<host>"
SMTP_PORT="<port>"
SMTP_USERNAME="<username>"
SMTP_PASSWORD="<password>"